<section class="nearest-events">
    <div class="search-part">
        <h2 class="title">Find nearest <span>events</span></h2>
        <form class="search-event-form">
            <h3>Find events</h3>
            <div class="form-body">
                <label for="">city</label>
                <input type="text">
                <label>date</label>
                <input type="text">
                <label>category</label>
                <input type="text">
            </div>
            <div class="button-bar">
                <button>Find</button>
            </div>
        </form>
    </div>
    <div class="results-part">
        <h2 class="title"> Events for you in <span>Warszawa</span></h2>
    </div>
</section>