<section class="categories-list">
    <h2 class="title">Browse by <span>top categories</span></h2>
    <div class="categories">
        <div class="category">
            <img src="assets/images/category-images/arts.jpg" alt="arts">
            <div class="desc">
                <h3 class="category-name">Arts</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cupiditate doloremque eos
                    esse maiores quam repellat suscipit!</p>
            </div>
        </div>
        <div class="category">
            <img src="assets/images/category-images/cities.jpg" alt="arts">
            <div class="desc">
                <h3 class="category-name">Cities</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cupiditate doloremque eos
                    esse maiores quam repellat suscipit!</p>
            </div>
        </div>
        <div class="category">
            <img src="assets/images/category-images/food.jpg" alt="arts">
            <div class="desc">
                <h3 class="category-name">Food</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cupiditate doloremque eos
                    esse maiores quam repellat suscipit!</p>
            </div>
        </div>
        <div class="category">
            <img src="assets/images/category-images/parties.jpg" alt="arts">
            <div class="desc">
                <h3 class="category-name">Parties</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cupiditate doloremque eos
                    esse maiores quam repellat suscipit!</p>
            </div>
        </div>
        <div class="category">
            <img src="assets/images/category-images/school.jpg" alt="arts">
            <div class="desc">
                <h3 class="category-name">Classes</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cupiditate doloremque eos
                    esse maiores quam repellat suscipit!</p>
            </div>
        </div>
        <div class="category">
            <img src="assets/images/category-images/sports.jpg" alt="arts">
            <div class="desc">
                <h3 class="category-name">Sports</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores cupiditate doloremque eos
                    esse maiores quam repellat suscipit!</p>
            </div>
        </div>
    </div>

</section>