@import '../variables';
@import '../mixins';
@import '../common';

.footer {
  margin: 0 auto;
  background-color: $fill-dark;
  color: white;
  width: 100%;
  max-width: 1200px;
  text-align: center;
  height: 100px;
  padding: 4em 0 .5em;

  .txt-info {

    font-size: .9em;
    color: white;
    font-weight: 300;
  }
}
