@import '../variables';
@import '../mixins';
@import '../common';

.title-section {
  margin: 0 auto;
  background-image: url('../images/bg-hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  width: 100%;
  max-width: 1200px;
  height: 305px;
  text-align: center;

  h1 {
    @include alfa-slab-font;
    font-size: 4em;
    color: white;
    padding-top: 2em;
    letter-spacing: 2px;
    text-shadow: 0 0 5px rgba(0, 0, 0, .85);

    span {
      @include alfa-slab-font;
      color: $txt-dark-green;
    }
  }

  p {
    color: $fill-light-blue;
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 2px;
    text-shadow: 0 0 3px rgba(0, 0, 0, .7);
  }

}
